$popupWidth: 800px
$popupHeight: 400px

$headerHeight: 76px
$navigationHeight: 25px
$footerHeight: 35px

$bodyWrapperHeight: #{$popupHeight - $headerHeight - $footerHeight}
// -20px because of padding
$bodyHeight: #{$bodyWrapperHeight - 20px}

.smb
    height: $popupHeight
    left: calc(50% - #{$popupWidth / 2})
    // !important needed for jquery ui draggable
    position: absolute !important
    top: calc(50% - #{$popupHeight / 2})
    width: $popupWidth
    z-index: 1000

    // .clickDelegator
    //     height: 100%
    //     left: 50%
    //     position: absolute
    //     width: 50%

    .positioner
        height: 100%
        // left: -50%
        position: relative
        width: 100%

        .content
            background-color: white
            height: 100%
            overflow: hidden
            position: relative

            .header
                height: $headerHeight
                line-height: $headerHeight
                padding: 0px 40px 0px 40px
                width: #{$popupWidth - 80px}
                width: calc(100% - 80px)

                .headline
                    overflow: hidden
                    text-overflow: ellipsis
                    white-space: nowrap
                    width: 95%
            // see cursor style for draggable smb at bottom




            .bodyWrapper, .fader
                box-sizing: border-box
                display: table
                height: calc(100% - #{$headerHeight + $footerHeight})
                overflow: hidden
                padding: 0px
                width: 4000px

                .body
                    display: table-cell
                    float: left
                    height: calc(100% - 20px)
                    padding: 10px 40px 10px 40px

            .fader
                display: none
                position: relative
                top: calc(-100% + #{$headerHeight + $footerHeight})
                width: 100%


            .navigation
                bottom: $footerHeight
                height: $navigationHeight
                position: absolute
                text-align: center
                width: 100%

                .dot
                    cursor: pointer
                    display: inline-block

            .footer
                bottom: 0px
                height: $footerHeight
                padding: 0px
                position: absolute
                width: 100%

                .button
                    min-width: 120px
                    position: relative


.smb.draggable .content .header
    cursor: move

.smb-overlay
    height: 100%
    left: 0px
    position: fixed
    top: 0px
    width: 100%

// general purpose classes
.smb_noselect
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

.smb_hidden
    display: none

.smb_clear
    clear: both

.smb_top
    z-index: 1000

// .error
//     background-color: rgb(247, 195, 195)
//     color: red
