@charset "UTF-8";
.smb {
  height: 400px;
  left: 50%;
  position: absolute !important;
  top: 20%;
  width: 800px;
  z-index: 1000; }
  .smb .positioner {
    height: 100%;
    left: -50%;
    position: relative; }
    .smb .positioner .content {
      background-color: white;
      height: 100%;
      overflow: hidden;
      position: relative; }
      .smb .positioner .content .header {
        height: 76px;
        line-height: 76px;
        padding: 0px 40px 0px 40px;
        width: 720px;
        width: calc(100% - 80px); }
        .smb .positioner .content .header .headline {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 95%; }
      .smb .positioner .content .bodyWrapper {
        box-sizing: border-box;
        display: table;
        height: calc(100% - 111px);
        overflow: hidden;
        padding: 0px;
        width: 4000px; }
        .smb .positioner .content .bodyWrapper .body {
          display: table-cell;
          float: left;
          height: calc(100% - 20px);
          padding: 10px 40px 10px 40px; }
      .smb .positioner .content .navigation {
        bottom: 35px;
        height: 25px;
        position: absolute;
        text-align: center;
        width: 100%; }
        .smb .positioner .content .navigation .dot {
          cursor: pointer;
          display: inline-block; }
      .smb .positioner .content .footer {
        height: 35px;
        padding: 0px;
        width: 100%; }
        .smb .positioner .content .footer .button {
          min-width: 120px;
          position: relative; }

.smb.draggable .content .header {
  cursor: move; }

.smb.overlay {
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%; }

.smb_noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.smb_hidden {
  display: none; }

.smb_clear {
  clear: both; }

.smb_top {
  z-index: 1000; }

.smb.default .close {
  background-color: black;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  height: 25px;
  position: absolute;
  right: -12.5px;
  top: -12.5px;
  width: 25px; }
  .smb.default .close::after {
    content: "×";
    font-size: 22px;
    left: 7px;
    position: relative;
    top: -2px; }
.smb.default .content {
  border-radius: 4px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  font-family: helvetica, sans-serif; }
  .smb.default .content .header {
    cursor: default;
    font-size: 20px;
    font-weight: 300;
    padding: 0px 40px 0px 40px;
    text-transform: uppercase; }
  .smb.default .content .bodyWrapper {
    font-size: 15px;
    font-weight: normal; }
  .smb.default .content .navigation .dot {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    margin: 0 10px 0 auto;
    height: 15px;
    width: 15px; }
    .smb.default .content .navigation .dot.selected {
      background-color: #BBBBBB; }
    .smb.default .content .navigation .dot:hover {
      background-color: #DDDDDD; }
  .smb.default .content .footer .button {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 15px;
    font-weight: 400;
    line-height: 35px;
    height: 35px;
    text-align: center;
    text-transform: uppercase; }

/*# sourceMappingURL=StateMachineBox.css.map */
